#include "../../../interface/tcat_dice.xcconfig"

PRODUCT_NAME = inspector
WRAPPER_EXTENSION = app

ARCHS = $(ARCHS_STANDARD_32_BIT)

SYMROOT = ../../../binary/tools/inspector/osx
OBJROOT = build
INSTALL_PATH = $(HOME)/Applications

HEADER_SEARCH_PATHS = ../../../interface ../../pal $(juce)/extras/'static library'/**
LIBRARY_SEARCH_PATHS = $(juce)/bin
ALWAYS_SEARCH_USER_PATHS = NO

INFOPLIST_FILE = Info.plist;
INFOPLIST_PREPROCESS = YES
INFOPLIST_PREFIX_HEADER = ../../../interface/tcat_dice_defaults.h

GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO

WARNING_CFLAGS = -Wall -Wreorder

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
